.container1{

    display: flex;
    /* margin: 20px;
    width: 30%;   */
  }
 
  .form-control{
    height: 40px;
      margin-left: 10px;
  }
  .btn {
      width: 120px;
  }
  label{
      margin-top: 7px;
      font-size: large;
  }